table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(223, 223, 223);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.example-element-detail .flex-container > div {
  line-height: 2rem;
}

.example-element-detail mat-form-field, button {
  margin-top: 1rem;
}

.example-element-detail mat-slide-toggle {
  margin-top: 1.4rem;
}

th.mat-sort-header-sorted {
  color: black;
}

.pr-value, .pr-plan, .po-value, .po-plan, .due-day {
  text-align: right;
}

.pr-value-cell {
  text-align: right;
  padding-right: 1rem;
  color: red;
}

.po-value-cell {
  text-align: right;
  padding-right: 1rem;
  color: blue;
}

.gr-value-cell {
  text-align: right;
  padding-right: 1rem;
  color: green;
}


.gr-value  {
  text-align: right;
  padding-right: 1rem;
}

.mat-row {
  height: 2rem;
}

.mat-row mat-icon {
  margin-top: 0.3rem;
  font-size: 1.4rem;
}

.mat-footer-row {
  height: 2rem;
}

.mat-header-row {
  height: 2.4em;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-row:nth-child(2n+1) {
  background-color: #E1EDEB;
}

.mat-row:not(:nth-child(4n+1)) {
  background-color: #ffffff;
}

.mat-badge-content {
  font-weight: normal;
  font-size: 0.6rem;
}

