h3 {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  line-height: 5rem;
}

mat-icon {
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}

mat-spinner {
  margin: auto;
}

mat-slide-toggle {
  padding: 0;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.8rem;
}
