.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  margin-right: 1rem;
  line-height: 4rem;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
  width: 0;
}
