<div class="flex-container">
  <div class="flex-container" style="justify-content: flex-start; width: 50%;">
    <div>
      <button mat-raised-button (click)="onRefresh()" type="button" color="primary">
        <mat-icon>refresh</mat-icon>
        </button>
   </div>
    <div style="width: 100%;">
      <mat-form-field style="width: 100%;">
        <input [(ngModel)]="searchField" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        <button mat-button mat-icon-button matSuffix (click)="clearSearchField()" *ngIf="searchField">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="flex-container" style="justify-content: flex-start; margin-right: 0rem;">
      <div>
          <button mat-raised-button color="primary" routerLink="/data-import/sap-eas/sap-eas-form" routerLinkActive="mat-accent">
          <mat-icon>add_circle</mat-icon>&nbsp;Add New
      </button>
      </div>
      <div style="margin-right: 0rem;">
          <button mat-raised-button color="primary" (click)="filePicker.click()">
           <mat-icon>cloud_upload</mat-icon>&nbsp;Upload Data
          </button>
          <input type="file" #filePicker (change)="onFilePicked($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    </div>
  </div>
</div>

<table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="no">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="no">No.</th>
        <td mat-cell *matCellDef="let element" class="no">{{ element.no }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

  <ng-container matColumnDef="requisitionNumber">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="requisition-number">PR No.</th>
    <td mat-cell *matCellDef="let element" class="requisition-number">{{ element.requisitionNumber }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="subject">Subject</th>
    <td mat-cell *matCellDef="let element" class="subject">{{ element.subject }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="currency">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="currency">Curr.</th>
    <td mat-cell *matCellDef="let element" class="currency">{{ element.currency }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell mat-sort-header arrowPosition='before' *matHeaderCellDef class="amount">Amount</th>
    <td mat-cell *matCellDef="let element" class="amount">{{ element.amount | number:'':'' }}</td>
    <td mat-footer-cell *matFooterCellDef class="amount">{{ getTotalAmount() | number:'':'' }}</td>
  </ng-container>

  <ng-container matColumnDef="costCenter">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="cost-center">Cost Center</th>
    <td mat-cell *matCellDef="let element" class="cost-center">{{ element.costCenter }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="requestor">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="requestor">Requestor</th>
    <td mat-cell *matCellDef="let element" class="requestor">{{ element.requestor }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="status">Status</th>
    <td mat-cell *matCellDef="let element" class="status">{{ element.status }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="recipient">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="recipient">Recipient</th>
    <td mat-cell *matCellDef="let element" class="recipient">{{ element.recipient }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="creation-date">Creation Date</th>
    <td mat-cell *matCellDef="let element" class="creation-date">{{ element.creationDate | date:'dd MMM yyy' }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="etaRequest">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="eta-request">ETA Request</th>
    <td mat-cell *matCellDef="let element" class="eta-request">{{ element.etaRequest | date:'dd MMM yyy' }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="isLocked">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="is-locked">Lock</th>
      <td mat-cell *matCellDef="let element" class="is-locked">
        <mat-icon *ngIf="element.isLocked">lock</mat-icon>
        <mat-icon *ngIf="!element.isLocked">lock_open</mat-icon>
     </td>
     <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="isLinked">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="is-linked">Link</th>
        <td mat-cell *matCellDef="let element" class="is-linked">
            <mat-icon *ngIf="element.isLinked">link</mat-icon>
            <mat-icon *ngIf="!element.isLinked">link_off</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
               <div class="flex-container" style="width: 100%;">
                <div>
                  <div class="flex-container" style="justify-content: flex-start;">
                      <div>
                          <button mat-raised-button color="primary" type="button" (click)="onUpdateOne(element.id, element.isLocked)">
                              <mat-icon>edit</mat-icon>&nbsp;Edit
                          </button>
                      </div>
                      <div>
                        <mat-form-field style="width: 6rem;">
                          <input matInput placeholder="Fiscal Year - Month" value="{{ element.year }} - {{ element.month }}" [readonly]="true">
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field style="width: 5rem;">
                          <input matInput placeholder="Dept." value="{{ element.dept }}" [readonly]="true">
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field style="width: 10rem;">
                          <input matInput placeholder="Approver" value="{{ element.approver }}" [readonly]="true">
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field style="width: 10rem;">
                          <input matInput placeholder="Last Update" value="{{ element.lastUpdateAt | date:'dd MMM yyy' }} - {{ element.lastUpdateBy }}" [readonly]="true">
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field style="width: 15rem;">
                          <input matInput placeholder="Remark" value="{{ element.remark }}" (blur)="onBlurRemark(element.id, element.isLocked, $event)" [readonly]="element.isLocked">
                        </mat-form-field>
                      </div>
                  </div>
                </div>
                <div>
                    <div class="flex-container" style="justify-content: flex-end;">
                        <div>
                          <button mat-raised-button type="button" (click)="onCloneOne(element.id)" color="accent">
                              <mat-icon>library_add</mat-icon>&nbsp;Clone
                          </button>
                      </div>
                        <div>
                            <mat-slide-toggle checked="{{ element.isLocked }}" (change)="onLockChange(element.id, $event)">
                              Lock
                            </mat-slide-toggle>
                         </div>
                         <div>
                            <mat-slide-toggle  checked="{{ element.isLinked }}" (change)="onLinkChange(element.id, $event)">
                                Link
                            </mat-slide-toggle>
                         </div>
                      <div>
                          <button mat-raised-button color="warn" type="button" (click)="onDeleteOne(element.id, element.isLocked)">
                              <mat-icon>delete</mat-icon>&nbsp;Delete
                          </button>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>

      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element; onRowClicked();">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator showFirstLastButtons [length]="sapCommitments?.length" [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20, 25, 30]" class="mat-elevation-z8"></mat-paginator>

<div class="flex-container">
    <div>
        <button mat-raised-button color="primary" type="button" (click)="exportToExcel()">
          <mat-icon>cloud_download</mat-icon>&nbsp;Export
        </button>
    </div>
    <div style="margin-right: 0rem;">
        <button mat-raised-button color="warn" type="button" (click)="onDeleteMany()">
        <mat-icon>delete_forever</mat-icon>&nbsp;Delete All
        </button>
    </div>
</div>
<ngx-spinner>
  <p style="font-size: 20px; color: whitesmoke">Loading...</p>
</ngx-spinner>
